<div class= searchBar >
<div class="container">
<form action="/search" cLass="search_form" role="search" method="POST">
1
<input
type=" search"
aria-Label= " Search "
id="searchlnput"
name="searchTerm"
placeholder="Search the site... "/>

</form>
<div id="close"><button class="close"><i class="fa-solid fa-xmark"></i></button></div>
</div>

</div>